/outputBacktoStupid/
/outputDestupidification/
/gitTemp/
/allMinCuts.csv
/brute.txt
/config.txt
/GHU.txt
/GHU.txt.bak
/missingseps.txt
/sepList.txt
/test.py
/cytoNWs/
__pycache__/
/*.txt
/*.dat
/*.sqlite
/NWimages/
/testResources/
/output*/
/*.png
